# Auth
API_TOKEN=this-is-a-secret-token
# Can be anything, like a password.

GITHUB_TOKEN=

# Organization and repos
ORGANIZATION=revanced
PATCHES_REPO=revanced-patches
PATCHES_ASSET_REGEX=rvp$
PATCHES_SIGNATURE_ASSET_REGEX=asc$
PATCHES_HISTORY_FILE=CHANGELOG.md
PATCHES_PUBLIC_KEY_FILE=static/root/keys.asc
MANAGER_REPO=revanced-manager
MANAGER_ASSET_REGEX=apk$
MANAGER_DOWNLOADERS_REPO=revanced-manager-downloaders
MANAGER_DOWNLOADERS_ASSET_REGEX=apk$
MANAGER_HISTORY_FILE=

# Branches
MAIN_BRANCH=main
PRERELEASE_BRANCH=dev

# Contributors
CONTRIBUTORS_REPOS=revanced-patcher:ReVanced Patcher,revanced-patches:ReVanced Patches,revanced-website:ReVanced Website,revanced-cli:ReVanced CLI,revanced-manager:ReVanced Manager

# API
API_VERSION=5