API_TOKEN=

GITHUB_TOKEN=

ORGANIZATION=revanced

PATCHES_REPO=revanced-patches
PATCHES_ASSET_REGEX=rvp$
PATCHES_SIGNATURE_ASSET_REGEX=asc$
PATCHES_PUBLIC_KEY_FILE=keys

MANAGER_REPO=revanced-manager
MANAGER_ASSET_REGEX=apk$
MANAGER_DOWNLOADERS_REPO=revanced-manager-downloaders
MANAGER_DOWNLOADERS_ASSET_REGEX=apk$

CONTRIBUTORS_REPOS=revanced-manager:ReVanced Manager,revanced-patches:ReVanced Patches,revanced-cli:ReVanced CLI,revanced-documentation:ReVanced Documentation,revanced-website:ReVanced Website,revanced-patcher:ReVanced Patcher,revanced-api:ReVanced API,revanced-manager-downloaders:ReVanced Manager Downloaders,revanced-bots:ReVanced Bots,revanced-library:ReVanced Library,revanced-patches-gradle-plugin:ReVanced Patches Gradle Plugin,revanced-patches-template:ReVanced Patches Template,revanced-cloudflare-email-worker:ReVanced Cloudflare Email Worker,revanced-encrypt:ReVanced Encrypt,revanced-vote:ReVanced Vote,revanced-invoice:ReVanced Invoice,revanced-manager-downloaders-template:ReVanced Manager Downloaders Template,revanced-branding:ReVanced Branding

API_VERSION=5
