{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "build", "scope": "Needs bump", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "gradle-semantic-release-plugin",
    [
      "@semantic-release/git",
      {
        "assets": [
          "README.md",
          "CHANGELOG.md",
          "gradle.properties"
        ]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/libs/*"
          }
        ],
        "successComment": false
      }
    ],
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerImage": "revanced-api",
        "dockerRegistry": "ghcr.io",
        "dockerProject": "revanced",
        "dockerPlatform": [
          "linux/amd64",
          "linux/arm64/v8"
        ],
        "dockerBuildFlags": {
          "pull": null,
          "target": "release"
        }
      }
    ],
    [
      "@saithodev/semantic-release-backmerge",
      {
        "backmergeBranches": [
          {
            "from": "main",
            "to": "dev"
          }
        ],
        "clearWorkspace": true
      }
    ]
  ]
}