version: "3.8"

services:
  revanced-api:
    container_name: revanced-api
    image: ghcr.io/revanced/revanced-api:latest
    environment:
      - GITHUB_TOKEN=YOUR_GITHUB_TOKEN
    ports:
      - 127.0.0.1:7934:8000
    restart: unless-stopped
