services:
  revanced-api:
    container_name: revanced-api
    image: ghcr.io/revanced/revanced-api:latest
    volumes:
      - /data/revanced-api/persistence:/app/persistence
      - /data/revanced-api/.env:/app/.env
      - /data/revanced-api/configuration.toml:/app/configuration.toml
      - /data/revanced-api/patches-public-key.asc:/app/patches-public-key.asc
      - /data/revanced-api/integrations-public-key.asc:/app/integrations-public-key.asc
      - /data/revanced-api/static:/app/static
      - /data/revanced-api/about.json:/app/about.json
    environment:
      - COMMAND=start
    ports:
      - "8888:8888"
    restart: unless-stopped
